* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: hsl(235, 16%, 14%);
  font-family: "Red Hat Text";
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  width: 100vw;
}

/* Title */

.title {
  color: hsl(0, 0%, 100%);
  text-align: center;
  margin-top: 7rem;
  margin-bottom: 5rem;
  width: 100vw;
  font-size: 0.8rem;
}

/* Background Stars and Mountains */

.background-stars {
  background: url("images/bg-stars.svg");
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.pattern-hills {
  background: url("images/pattern-hills.svg") repeat-x;
  background-position: bottom;
  position: absolute;
  pointer-events: none;
  bottom: 0;
  width: 100%;
  z-index: 2;
  height: 100%;
}

/* Clock */

.clock {
  display: flex;
  justify-content: center;
}

.clock div {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: hsl(237, 18%, 59%);
  margin: 0 1.5rem;
}

.clock div span {
  border-radius: 8px;
  color: hsl(345, 95%, 68%);
  padding: 1rem;
  text-align: center;
  font-size: 4rem;
  background: hsl(236, 21%, 26%);
  box-shadow: 0px 10px hsl(234, 17%, 12%);
  margin-bottom: 2rem;
}

/* Social Media */

.social-media {
  display: flex;
  z-index: 3;
  position: absolute;
  bottom: 80px;
  width: 100%;
  justify-content: center;
}

.social-media div {
  margin: 0 1.25rem;
}

.social-media div:first-child {
  margin-left: 0;
}

.social-media div:last-child {
  margin-right: 0;
}

.social-media a:hover img {
  filter: invert(56%) sepia(17%) saturate(5731%) hue-rotate(310deg)
    brightness(101%) contrast(97%);
}

/* Attribution */

.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
  position: absolute;
  bottom: 3px;
  right: 10px;
  z-index: 10;
  letter-spacing: normal;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media Queries */

@media (max-width: 375px){
    body{
        background-repeat: no-repeat;
        background-size: contain;
        letter-spacing: 0.15rem;
    }

    .clock div {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: hsl(237, 18%, 59%);
        margin: 0 .5rem;
        font-size: .75rem;
    }

    .clock div span {
        border-radius: 8px;
        color: hsl(345, 95%, 68%);
        padding: .5rem;
        text-align: center;
        font-size: 2rem;
        background: hsl(236, 21%, 26%);
        box-shadow: 0px 10px hsl(234, 17%, 12%);
        margin-bottom: 1rem;
    }

    .pattern-hills {
        background: url("images/pattern-hills.svg") repeat-x;
        background-position: bottom;
        position: absolute;
        pointer-events: none;
        bottom: 0;
        width: 100vw;
        z-index: 2;
        height: 100%;
      }
}

@media (max-width: 325px){
    body{
        background-repeat: no-repeat;
        background-size: contain;
        letter-spacing: 0.1rem;
    }

    .clock div {
        display: flex;
        align-items: center;
        flex-direction: column;
        color: hsl(237, 18%, 59%);
        margin: 0 .5rem;
        font-size: .65rem;
    }

    .clock div span {
        border-radius: 8px;
        color: hsl(345, 95%, 68%);
        padding: .75rem;
        text-align: center;
        font-size: 1.5rem;
        background: hsl(236, 21%, 26%);
        box-shadow: 0px 10px hsl(234, 17%, 12%);
        margin-bottom: 1rem;
    }

    .pattern-hills {
        background: url("images/pattern-hills.svg") repeat-x;
        background-position: bottom;
        position: absolute;
        pointer-events: none;
        bottom: 0;
        width: 100vw;
        z-index: 2;
        height: 100%;
      }
}